@model List<laboratorio3.Models.SongModel>;
@{
    ViewData["Title"] = "Songs";
}
<h1>@ViewBag.MainTitle</h1>
<div>
    <table class="table">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.SongName</td>
                    <td>@item.SongGenre</td>
                    <td>@item.Album</td>
                    <td>@item.Artist</td>
                    <td>@item.ProducedBy</td>
                    <td>@item.ReleaseDate</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <button>Hola:)</button>
</div>