@model Examen2.Models.VehiculosModel
@{
    ViewBag.Title = "CrearVehiculo";
}
<html>
<head>
</head>
<body>
    @if (ViewBag.Message != null)
    {
        if (ViewBag.ExitoAlCrear)
        {
            <div style="background-color: #d4edda; color: #155724; padding: 10px;"> <h3> @ViewBag.Message </h3> </div>
        }
        else
        {
            <div style="background-color: #f8d7da; color: #721c24; padding: 10px;"> <h3> @ViewBag.Message </h3> </div>
        }
    }
    @using (Html.BeginForm("CrearVehiculo", "vehiculos", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <h1 style="text-align: center;">Formulario de creacion de vehiculos</h1>
        <div class="form-horizontal">
            <div class="form-group required">
                @Html.LabelFor(model => model.Nombre, new { style = "font-weight: bold" })
                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", style="width: 100%", required = "required" })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger"})
            </div>
            <div class="from-group required">
                @Html.LabelFor(model => model.Tipo, new { style = "font-weight: bold" })
                @Html.TextBoxFor(model => model.Tipo, new { @class = "form-control", style="width: 100%", required = "required" })
                @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })

            </div>
            <div class="from-group required">
                @Html.LabelFor(model => model.Popularidad, new { style = "font-weight: bold" })
                @Html.TextBoxFor(model => model.Popularidad, new { @class = "form-control", style="width: 100%", required = "required" })
                @Html.ValidationMessageFor(model => model.Popularidad, "", new { @class = "text-danger" })
            </div>
            <div class="from-group required">
                @Html.LabelFor(model => model.Precio, new { style = "font-weight: bold" })
                @Html.TextBoxFor(model => model.Precio, new { @class = "form-control", style="width: 100%", required = "required" })
                @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
            </div>
            <div class="form-group required">
                @Html.LabelFor(model => model.NecesitaLicencia, new { style = "font-weight: bold" })
                @Html.CheckBoxFor(model => model.NecesitaLicencia)
                @Html.ValidationMessageFor(model => model.NecesitaLicencia, "", new { @class = "text-danger" })
            </div>

            <div class="form-group required">
                @Html.LabelFor(model => model.ID, new { style = "font-weight: bold" })
                @Html.TextBoxFor(model => model.ID, new { @class = "form-control", style="width: 100%", required = "required" })
                @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
            </div>

            <input type="submit" class="btn btn-success" value="Crear" style="margin-top: 10px;">
        </div>
    }
</body>
</html>
