@model List<Examen2.Models.VehiculosModel>;
@{
    ViewData["Title"] = "Movies";
}
<h1>@ViewBag.MainTitle</h1>
<div>
    <table class="table">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nombre</td>
                    <td>@item.Popularidad</td>
                    <td>@item.Tipo</td>
                    <td>@item.Precio</td>
                    <td>@item.NecesitaLicencia</td>

                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <button>I am a button</button>
</div>
