@model List<Examen2.Models.VehiculosModel>;
@{
    ViewData["Title"] = "Vehiculos";
}
<h1>@ViewBag.MainTitle</h1>
<div>
    <a href="@Url.Action("CrearVehiculo", "Vehiculos")" class="btn btn-success">Anadir vehiculo</a>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre del vehiculo</th>
                <th>Tipo de vehiculo</th>
                <th>Popularidad</th>
                <th>Precio de unidad (dolares)</th>
                <th>Requerieminto de licencia</th>
            </tr>
        </thead> 
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nombre</td> 
                    <td>@item.Tipo</td>
                    <td>@item.Popularidad</td>
                    <td>@item.Precio</td>
                    <td>@item.NecesitaLicencia</td>
                    <td>
                        @Html.ActionLink("Editar", "EditarVehiculo", new { id = item.ID }, new { @class = "btn btn alert-info",
                    @onclick = "return confirm('Desea editar este vehiculo?')" })
                    </td>
                    <td>
                        @Html.ActionLink("Eliminar", "EliminarVehiculo", new { id = item.ID }, new { @class = "btn btn alert-danger",
                    @onclick = "return confirm('Desea eliminar este vehiculo?')" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    function showForm() {
        document.getElementById("formDiv").style.display = "block";
    }
</script>


